{
  "openapi": "3.1.0",
  "info": {
    "title": "AUMARA Public Guest API",
    "version": "1.1.0",
    "description": "Read-only public guest, live availability and published price-comparison API for AUMARA. No endpoint creates, holds, modifies or charges a reservation."
  },
  "servers": [
    { "url": "https://www.aumara.me" }
  ],
  "paths": {
    "/api/guest-info": {
      "get": {
        "operationId": "getAumaraGuestInfo",
        "summary": "Get public AUMARA guest information",
        "responses": {
          "200": { "description": "Public AUMARA property and direct-booking information" }
        }
      }
    },
    "/api/availability": {
      "get": {
        "operationId": "getAumaraAvailability",
        "summary": "Get live AUMARA availability or compare nearby stay lengths",
        "description": "Uses the public Beds24 availability source. mode=quote returns exact-date live inventory and published totals. mode=compare checks a range of nearby stay lengths and identifies the strongest currently published nightly value. Read-only.",
        "parameters": [
          { "name": "mode", "in": "query", "schema": { "type": "string", "enum": ["quote", "compare"], "default": "quote" } },
          { "name": "checkIn", "in": "query", "required": true, "schema": { "type": "string", "format": "date" } },
          { "name": "checkOut", "in": "query", "required": false, "description": "Required when mode=quote", "schema": { "type": "string", "format": "date" } },
          { "name": "adults", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 20, "default": 2 } },
          { "name": "children", "in": "query", "schema": { "type": "integer", "minimum": 0, "maximum": 20, "default": 0 } },
          { "name": "minNights", "in": "query", "description": "Used when mode=compare", "schema": { "type": "integer", "minimum": 1, "maximum": 14, "default": 2 } },
          { "name": "maxNights", "in": "query", "description": "Used when mode=compare", "schema": { "type": "integer", "minimum": 1, "maximum": 14, "default": 6 } }
        ],
        "responses": {
          "200": {
            "description": "Live Beds24 availability or stay-length comparison",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Invalid dates or guest counts",
            "content": { "application/json": { "schema": { "type": "object" } } }
          }
        }
      }
    }
  }
}
